.DS_Store
mainsite/mainsite/secretkey.py
mainsite/mainsite/__pycache__/secretkey.cpython-39.pyc
mainsite/db.sqlite3
*.sqlite3
mainsite/db.sqlite3
migrate/front-end/.prettierrc
.prettierrc
migrate/front-end/prisma/migrations
migrate/front-end/prisma/dev.db
migrate/front-end/prisma/dev.db-journal
migrate/front-end/src/constants/sensitive.js
