/* @font-face {
    font-family: 'D3 Digitalism';
    src: url('mainsite/chatswap/static/chatswap/font/d3-digitalism-font/D3Digitalism.woff2') format('woff2'),
    url('static/chatswap/font/d3-digitalism-font/D3Digitalism.woff') format('woff'),
    url('static/chatswap/font/d3-digitalism-font/D3Digitalism.eot'),
    url('static/chatswap/font/d3-digitalism-font/D3Digitalism.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */
* {
    background-color: rgb(20, 20, 20);
    color:rgb(255, 255, 255);
    border: white;
}
.mainbox {
    border-radius: 25px;
    border: solid 5px;
    margin: auto;
    margin-top: 5%;
    width: 400px;
    height: 350px;
    padding-top: 0px;
    position: relative;
}
.swapbox {
    background-color: transparent;
    border-bottom: solid 5px;
    width: 100%;
    height: 30%;
    padding: 5%;
    margin: auto;
}
.generalButton {
    /* background-color: white; */
    border: solid 1px;
    border-radius: 10px;

}
.generalButton:hover {
    background-color: gray;
}
.generalButton:active {
    background-color: lightgray;
}
.selectToken {
    margin: auto;
    margin-top: 4%;
    margin-left: 2%;
    width: 40%;
    font-size: smaller;
}
.inputStyle {
    margin-left: 5px;
    padding-left: 10px;
    border: solid 1px;
    border-radius: 10px;
    width: 50%;
}
/* .input.text:focus {
    border-color: white;
} */
.gasText {
    padding-top: 10px;
}
.swapButton {
    margin: auto;
    margin-top: 17%;
    margin-left: 24%;
    width: 200px;
    position: absolute;
}
.modalBody{
    height: 400px;
    overflow-y: auto;
}
.tokenRow{
    /* margin-top: 10px;
    margin-left: 10px; */
    margin: 10px;
    padding: 5px;
    font-size: large;
    border: solid 1px;
}
.tokenRow:hover{
    background-color: gray;
}
.tokenRow:active {
    background-color: lightgray;
}
.loginButton {
    position: absolute;
    top: 15px;
    right: 15px;
}
.title {
    position: absolute;
    margin-left: 43.5%;
    margin-top: -60px;
}
.loginForm {
    width: 200px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 75px;
    align-items: center;
}
.gasBox {
    border: solid 1px;
    border-radius: 10px;
    width: 30%;
    height: 27px;
    float:right; 
    margin-right: 10px;
    position: relative;
}
.userBox {
    border: solid 1px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.chatBox {
    border-radius: 25px;
    border: solid 5px;
    position: relative;
    margin: auto;
    margin-top: 10px;
    height: 350px;
    width: 800px;
}
.chatBoxBottom{
    background-color: transparent;
    border-top: solid 2px;
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.chatInput {
    border: solid 1px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    margin: 5px;
    margin-left: 0px;
    height: 80%;
    width: 70%;
    left: 0;
}
.chatBoxUser {
    border-radius: 10px;
    border: solid 1px;
    display: inline-block;
    position: relative;
    width: 17%;
    height: 80%;
    margin: 5px;
    padding-top: 1%;
    font-size: 15px;
    text-align: center;
}
.chatButton {
    height: 80%;
    width: 9%;
    margin: 5px;
    margin-left: 0px;
    position: relative;
}
.incomingChats {
    background-color: transparent;
    height: 85%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    bottom: 0;
}
.individualChat {
    position: relative;
    margin: 5px;
}
.individualChatUser {
    font-weight: bold;
}
.voteButton{
    margin: 2px;
}
.voteButton:hover {
    cursor: pointer;
}


/* .incomingChats > :first-child { 
    margin-top: auto;
} */