* {
    background-color: rgb(20, 20, 20);
    color:rgb(255, 255, 255);
    border: white;
}
.mainbox {
    border: solid 5px;
    margin: auto;
    margin-top: 5%;
    width: 400px;
    height: 350px;
    padding-top: 0px;
    position: relative;
}
.swapbox {
    border-bottom: solid 5px;
    width: 100%;
    height: 30%;
    padding: 5%;
    margin: auto;
}
.generalButton {
    /* background-color: white; */
    border: solid 1px;
}
.generalButton:hover {
    background-color: gray;
}
.generalButton:active {
    background-color: lightgray;
}
.selectToken {
    margin: auto;
    margin-top: 4%;
    margin-left: 2%;
    width: 40%;
}
.inputStyle {
    margin-left: 5px;
    padding-left: 10px;
    border: solid 1px;
}
.gasText {
    padding-top: 10px;
}
.swapButton {
    margin: auto;
    margin-top: 17%;
    margin-left: 24%;
    width: 200px;
    position: absolute;
}
.modalBody{
    height: 400px;
    overflow-y: auto;
}
.tokenRow{
    margin-top: 10px;
    margin-left: 10px;
    font-size: large;
}
.tokenRow:hover{
    background-color: gray;
}
.tokenRow:active {
    background-color: lightgray;
}
.loginButton {
    position: absolute;
    top: 15px;
    right: 15px;
}
.title {
    position: absolute;
    margin-left: 43.5%;
    margin-top: -60px;
}
.loginForm {
    width: 200px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 75px;
}